@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header {
    text-align: center;
}

header > picture > img {
    width: 200px;
}


/* LIL MENU */

.container-menu {
    display: block;
    margin-top: 10px;
}

.material-icons {
    background-color: blueviolet;
    margin-right: 20px;
    margin: auto;
    width: 100%;
    padding: 7px;
    cursor: pointer;
}

.material-icons:hover {
    background-color: rgb(80, 28, 129);
    color: white;
    transition: background .4s;
}


/* DESKTOP MENU */

header > menu {
    display: none;
    background-color: rgb(80, 28, 129);
    height: 40px;
    text-align: right;
}

header > div > menu > ul > li {   
    background-color: rgb(80, 28, 129);
    color: white;
    text-align: center;
    padding: 10px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}

header > div > menu > ul > li:hover {
    background-color: blueviolet;
    transition: background .4s;
}

header > div > menu > ul > li > a {
    text-decoration: none;
    color: white;
}


/* HOME */

#home-id {
    background-color: rgb(188, 158, 236);
    font-size: 3em;
    height: 336px;
    text-align: center;
    padding: 10px;
}

#slice-content-id {
    background-color: rgb(188, 158, 236);
    font-size: 1em;
    height: 100px;
    text-align: center;
    padding: 10px;
}

#arrow-img-id {
    max-height: 50px;
    padding: 10px;
    cursor: pointer;
}


/* ABOUT ME */

#aboutme-div-id {
    background-color: rgb(207, 183, 247);
    height: 100vh;
    text-align: center;
}

#aboutme-div-id > h2 {
    padding: 10px;
}

.aboutme-p-class {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 2em;
    line-height: 1.5em;
}

#pic-aboutme-id {
    max-height: 400px;
    padding: 30px;
    margin-top: 10px;
}


/* PROJECTS */

#projects-div-id {
    background-color: rgb(188, 158, 236);
    height: 100vh;
    text-align: center;
}

#projects-div-id > h2 {
    padding: 10px;
}

#projects-p-id {
    padding: 10px;
    font-weight: bold;
}

.img-portfolio-class {
    max-height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
}

.img-portfolio-class:hover {
    
}


/* CONTACT */

#contact-div-id {
    background-color: rgb(207, 183, 247);
    height: 100vh;
}

#contact-div-id > h2 {
    text-align: center;
    padding: 10px;
}

#contact-div-id > p {
    margin: 20px;
}

#icon-p-id {
    text-align: center;
}

.icon-img-class {
    max-height: 100px;
    padding: 20px;
}

#arrow-div-id {
    text-align: right;
    margin-right: 70px;
}

#arrow-up-id {
    position: fixed;
    bottom: 0;
    max-height: 50px;
    opacity: 25%;
}